.Container{
    display: block;
    height: 96%;
    width: 92%;
    border-radius: 8vh;
    position: relative;
    overflow: hidden;
    background-color:#d9dbdc;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
}
.Topbar{
    width:3%;
    position: absolute;
    height:10%;
    left:75%;
    background-color:#bbb;
}
.Sidesbar{
    width:100%;
    position: absolute;
    height:2%;
    top: 8%;
    background-color:#BBB;
}
.SidesbarBottom{
    width:100%;
    position: absolute;
    height:2%;
    bottom: 5%;
    background-color:#BBB;
}
.Phone{
    display: block;
    position: absolute;
    top: 0.6%;
    left: 1.6%;
    bottom:0.6%;
    right:1.6%;
    background-color: #f7f7f7;
    border-radius: 7.5vh;
    flex-direction: column;
}
.Top{
    display: block;
    position: relative;
    height:10%;
    width:100%;
    flex-direction: column;
}
.Camera {
    position: absolute;
    height: 14%;
    width: 3%;
    left: 15%;
    top:25%;
    border: 3px solid #5E5E5E;
    border-radius: 60%;
    background: #333;
}
.Receiver{
    position: absolute;
    left: 35%;
    height: 12%;
    width: 30%;
    top:30%;
    margin: 0 auto;
    border-radius: 10px;
    background: #EEE;
    border-top: solid 2px #c9c9c9;

}
.Sensor{
    position: absolute;
    height: 22%;
    width: 10%;
    left: 45%;
    bottom: 10%;
    border-radius: 10px;
    background: #1f1f1f;
}
.Screen{
    margin: 0 auto;
    height: 80%;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/pixel_bg.jpg");
    background-size: cover;
}
.Bottom{
    height:10%;
    width:100%;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.BottomView{
    height:100%;
    width:100%;
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #F8F8F8;
    border-bottom-left-radius: 8vh;
    border-bottom-right-radius:8vh ;
    border-bottom: 8vh;
    align-items: center;
    flex-direction: column;
}
