.Special{
    display: flex;
    margin: 10px;
    align-items: center;
}
.Special:hover{
    background-color: #b5b7b922;
}
.SpecialContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;

}
.Title {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #f75357;
    cursor:pointer;
    font-weight:bold;
    font-size: 14px;
}
.Title:before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #f75357;
    transition: all .3s;
}
.Title:hover:before{
    width: 100%;
    left: 0;
    right: 0;
}
