.article {
    margin: 0 auto;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
    border-radius: 2px;
}
.articleTitle{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.articleName{
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.articleDetail{
    margin-top: 15px;
    font-family:Roboto Condensed;
    display: flex;
    font-size: 12px;
    justify-content: center;
}
.articleMark{
    color: #3699dc;
    font-family: Roboto Condensed;
}
.articleMarkBy{
    margin-left: 10px;
    margin-right: 10px;
}
.articleMarkView{
    margin-left: 3px;
}
.articleDetailLine{
    margin-top: 15px;
    width: 100%;
    height: 1px;
    background-color: #333333;
    opacity: 0.2;
}
.articleContent{
    padding: 20px;
    color: #444;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5em;
}
pre {
    border: 1px solid #ccc;
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}

tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
}

th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
    background: #f6f8fa;
}
table {
     display: table;
     border-collapse: separate;
     border-spacing: 0px;
     border-color: grey;
}
@media screen and (max-width: 960px) {
    .articleContent {
        padding: 10px;
        font-size: 12px;
    }
}
.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }