.ImageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ImageContainerLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3%;
}
.ImageType{
    width: 100%;
    position:relative;
    height:0px;
    padding-bottom:50%;
    margin-bottom: 3%;
    overflow: hidden;
}
.ImageType2{
    width: 47%;
    height:0px;
    position:relative;
    overflow: hidden;
    padding-bottom:47%;
}
.ImageType3{
    width: 30%;
    height:0px;
    position:relative;
    overflow: hidden;
    padding-bottom:30%;
}
.ImageType3 .ImageImgV{
    width: 100%;
    height:auto;
    position: absolute;
    top: -20%;
}
.ImageType3 .ImageImgH{
    width: auto;
    height:100%;
    position: absolute;
    left: -20%;
}
.ImageType2 .ImageImgV{
    width: 100%;
    height:auto;
    position: absolute;
    top: -30%;
}
.ImageType2 .ImageImgH{
    width: auto;
    height:100%;
    position: absolute;
    left: -40%;
}
.ImageType .ImageImgV{
    width: 100%;
    height:auto;
    position: absolute;
}
.ImageType .ImageImgH{
    width: auto;
    height:100%;
    position: absolute;
}