.ImageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ImageContainerLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3%;
}
.ImageType{
    width: 100%;
    position:relative;
    height:0px;
    padding-bottom:60%;
    margin-bottom: 3%;
}
.ImageType2{
    width: 47%;
    height:0px;
    position:relative;
    padding-bottom:47%;
}
.ImageType3{
    width: 30%;
    height:0px;
    position:relative;
    padding-bottom:30%;
}
.ImageImg{
    width: 100%;
    height:100%;
    position:absolute;
}