.App {
  display: block;
  background-position:  center;
  background-image: url("./images/glass.gif");
  background-size: cover;
}
.HomeTop{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeContent{
  position: absolute;

}
.list-inline{
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-inline li a{
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
}
.list-inline-kuo{
  font-size: 24px;

}
.list-inline li a:hover {
  color: red;
}
.list-inline li{
  list-style:none;
  float:left;
  color: white;
}
.DownAllow{
  width: 29px;
  height:50px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  background-image: url("./images/sign_down.png");
  background-position:  center;
  background-size: cover;
}
.HomeBottom{
  width: 100%;
  height: 20vh;
}

.App-left{
  flex:1;
}
.App-center{
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
/*  background-image: url("./images/PixelWhite.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;*/
}
.App-right{
  flex:1;
}
.DidDemo{
  width: 100px;
  height:100px;
  background-color: #000000;
  border-image: linear-gradient(red, blue) 10 10;
  border-left: 20px solid ;
  border-right: 20px solid ;
}